<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :scholarship %><br>
    <%= f.text_field :scholarship %>
  </div>
  <div class="field">
    <%= f.label :contest %><br>
    <%= f.text_field :contest %>
  </div>
  <div class="field">
    <%= f.label :extracurricular %><br>
    <%= f.text_field :extracurricular %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
